body{
    margin: 0;
    #00ae42
    #C92B9A
}
main{
    
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #00ae42;
    margin-bottom: 50px;
}
ul{
    display: flex;
}
#menu{
    justify-content: space-around;
}
.opciones{
    margin: auto 45px;
    list-style: none;
    color: white;
    padding: 5px;
}
.opciones:hover{
    background-color: #C92B9A;
    border-radius: 10px;
    padding: 5px;
}
a{
    text-decoration: none;
}
section{
    display: flex;
    justify-content: space-evenly;
}
.espacio_1{
    width: 700px;
    margin-bottom: 50px;
}
.espacio_2{
    flex-direction: column;
}
h3{
    text-align: center;
}
h2{
    background-color: #C92B9A;
    color: whitesmoke;
    text-align: center;
    font-family: 'Ubuntu', 'Roboto', 'Heveltica', 'Arial';
}
h4{
    font-family: 'Ubuntu', 'Roboto', 'Heveltica', 'Arial';
}
table{
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
thead{
    background-color: #00ae42;
    color: white;
}
.colums{
    background-color: #00ae42;
    color: white;
}
.space{
    background-color: #00ae42;
}
.label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.destino{
    width: 200px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.titull{
    font-family:'Ubuntu', 'Roboto', 'Heveltica', 'Arial';
    color: #00ae42;
}
aside{
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    background-color: #C92B9A;
    color: white;
}
video{
    margin-top: 10px;
    width: 100%;
}
footer{
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.secciones_footer{
    text-align: center;
    width: 100%;
    background-color: #00ae42;
    color: white;
    flex-direction: column;
}
.ee{
    flex-direction: column;
}
li{
    list-style: none;
    flex-direction: column;
}
textarea{
    height: 90px;
}

.datos{
    padding: 10px;
}